<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Neurology Symptom Tracker</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<<<<<<< HEAD
	<script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script>
	
=======
	{{!-- <script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script> --}}
>>>>>>> ccc0fd203da5d92f378216f5fde0baa638683b3c
</head>

<body>

	{{{ body }}}

	<div>
      <a href="/"><button type="submit" class="btn btn-primary btn-lg btn-block">Sign Out</button></a>
    </div>
    <!--Copyright-->
    <div class="card-footer">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> Project 2 </a>
    </div>
    </div>

	<script src="/js/script.js"></script>
</body>

</html>