<div class="container2">
  <div class="card text-center">
    <div class="card-header">
      <h1 class="card-title">Calendar</h1>
    </div>
    
  <div class="card-body">
    <div class="row">
    <div class="col-md-6">
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%2333ccff&amp;ctz=America%2FNew_York" style="border-width:0" width="500" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
<div class="col-md-6">
  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</div>
</div>
</div>
  
  <!-- Symptom form -->

    </div>
    <!--Copyright-->
    <div class="card-footer">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> Project 2 </a>
    </div>
    </div>



