<h1>Doctors</h1>

<h2>Meet all the Doctors</h2>

<ul>
  {{#each doctors}}
    <li>
      {{this.first_name}}
    </li>
  {{/each}}
</ul>

<div><a href="/">Home Page</a></div>
<div><a href="/patients">Patients</a></div>
<div><a href="/symptoms">Symptoms</a></div>