{{!-- Jeff layout --}}

<div class="container2">
  <div class="card text-center">
    <div class="card-header">
      <h2 class="card-title">Welcome Doctor</h2>
    </div>
    
  <div class="card-body">
    <div class="row" style="margin: auto">
      <h3>My Patients:</h3>
    </div>
    
    <div class="row">
      <div class="col-md-16">
        <ul style="list-style: none;">
          {{#each patients}}
            <li>
              <a href="/patients/log/{{this.id}}"><button>View: </button></a> {{this.dataValues.name}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
      {{!-- Sign Out Button --}}
      <div>
        <a href="/"><button type="submit" class="btn btn-primary btn-lg btn-block">Sign Out</button></a>
      </div>
      <!--Copyright-->
			<div class="card-footer">
				© 2017 Copyright: <a href="https://github.com/CoreyStagner/SymptomTracker"> Project 2 </a>
			</div>