<div class="container2">
  <div class="card text-center">
    <div class="card-header">
      <h2 class="card-title">Welcome Doctor</h2>
    </div>
    
  <div class="card-body">
    <div class="row" style="margin: auto">
      <h3>My Patients:</h3>
    </div>
    
    <div class="row">
      <div class="col-md-16">
        <ul style="list-style: none;">
          {{#each patients}}
            <li>
              Name: {{this.dataValues.name}}
            </li>
      </div>
          {{/each}}
      <div class="col-md-6">
        <ul style="list-style: none; text-align: left;">
          {{#each records}}
            <li>
              Symptom: {{this.dataValues.symptom.dataValues.name}}
              <br>
              Date: {{this.dataValues.createdAt}}
            </li>
          {{/each}}
        </ul>
      </div>