<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Symptom Tracker</h1>
			<h2>How are you feeling today?</h2>
		</div>
	</div>

	<div class="container1">
		<div class="card text-center">
			<div class="card-header">
				<h4 class="card-title">Sign In</h4>
			</div>
			<div class="card-body">

					<div class="card-header">
						<h2 class="text-center">I am a</h2>
					</div>
					<div class="row blank-spacer">
						<div class="col-sm-12"></div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-4">
							<a href="/userLogin"><button type="submit" class="btn btn-primary btn-lg btn-block">Patient</button></a>
						</div>
						<div class="col-md-2 text-center"><p><br>Or</p></div>
						<div class="col-md-4">
							<a href="/doctorLogin"><button type="submit" class="btn btn-primary btn-lg btn-block">Doctor</button></a>
						</div>
						<div class="row"></div>
					</div>
				</div>
			

{{!-- 
		<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="text-center">Are you?</h2>
					</div>
					<div class="modal-body">
						<div class="col-md-1"></div>
						<div class="col-md-4">
							<a href="/userLogin"><button type="submit" class="btn btn-primary btn-lg btn-block">Patient</button></a>
						</div>
						<div class="col-md-2 text-center"><p><br>Or</p></div>
						<div class="col-md-4">
							<a href="/doctorLogin"><button type="submit" class="btn btn-primary btn-lg btn-block">Doctor</button></a>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
    </div>


 --}}














				{{!-- <form id="userLogin"> --}}
					{{!-- <div class="form-group">
						<label for="userName">Patient Username</label>
						<input type="ID" class="input-block-level" id="userName" aria-describedby="ID Help" placeholder="Enter Username">
						<small id="IDHelp" class="form-text text-muted">We'll never share your ID with anyone else.</small>
					</div>

					<div class="form-group">
						<label for="userPassword">Password</label>
						<input type="password" class="input-block-level" id="userPassword" placeholder="Password">
					</div>

					<input class="btn btn-primary" type="submit" value="Sign In" />

					<a href="/userSignup">Create New Account</a>
				</form> --}}
			</div>
			<!--Copyright-->
			<div class="card-footer">
				© 2017 Copyright: <a href="https://github.com/CoreyStagner/SymptomTracker"> Project 2 </a>
			</div>
		</div>
</body>