<div class="container2">
  <div class="card text-center">
    <div class="card-header">
      {{#each patients}}
      <h1 class="card-title">Welcome {{this.dataValues.name}}</h1>
      <div id="patientID" value="{{this.dataValues.id}}"></div>
      {{/each}}

    </div>
    <div class="card-body">
      <div class="row">
        <!-- Container for the calendar -->
        <div class="col-sm-6">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%2333ccff&amp;ctz=America%2FNew_York"
            style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="col-sm-6">
          <ul class="list-group doctor-list">
            <li class="list-group-item new-item">
              <form id="newRecord-form" method="POST" action="/api/health_record">
                <div>
                  <span>Report a symptom: </span>{{> symDDList}}
                </div>
                <div class="spacer" style="height: 10px;"></div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Notes:</label>
                  <textarea class="form-control" id="recordNotes" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <button id="newSymptom" type="submit">Report New Symptom</button>
                </div>
              </form>
            </li>
            {{#each patients}}
              <a href="/patients/log/{{this.id}}"><button style="width:100%;">View All My Symptoms</button></a>
            {{/each}}
          </ul>
        </div>
      </div>
      {{!-- Sign Out Button --}}
      <div>
        <a href="/"><button type="submit" class="btn btn-primary btn-lg btn-block">Sign Out</button></a>
      </div>
      <!--Copyright-->
			<div class="card-footer">
				© 2017 Copyright: <a href="https://github.com/CoreyStagner/SymptomTracker"> Project 2 </a>
			</div>
    </div>
  </div>