	<div class="container">
		<div class="row">
      {{#each patients}}
        <h1>Welcome {{this.dataValues.name}}.</h1>
        <div id="patientID" value="{{this.dataValues.id}}"></div>
      {{/each}}
    </div>
    <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="list-group doctor-list">
					<li class="list-group-item new-item">
						<form id="newRecord-form" method="POST" action="/api/health_record">
                {{> symDDList}}
						<button id="newRecord" type="submit">Add a new symptom</button>
						</form>
					</li>
					<span class="doctor-container"></span>
				</ul>
			</div>
		</div>
    <div class="row">
      <h3>My Symptom Record</h3>
      <ul>
        {{#each records}}
          <li>
            Name: {{this.dataValues.id}}
            <br>
            Date: {{this.dataValues.createdAt}}
          </li>
        {{/each}}
      </ul>
    </div>
	</div>