<h1>Patients</h1>

<h2>Meet all the Patients</h2>

<ul>
  {{#each patients}}
    <li>
      {{this.first_name}}
    </li>
  {{/each}}
</ul>

<div><a href="/">Home Page</a></div>
<div><a href="/doctors">Doctors</a></div>
<div><a href="/symptoms">Symptoms</a></div>