<h1>Symptoms</h1>

<h2>See all of the Symptoms</h2>

<ul>
  {{#each symptoms}}
    <li>
      {{this.name}}
    </li>
  {{/each}}
</ul>

<div><a href="/">Home Page</a></div>
<div><a href="/patients">Patients</a></div>
<div><a href="/doctors">Doctors</a></div>